# Beginning Python Chapter 2

In [2]:
edward = ['Edward Gumby', 42]
print(edward)

john = ['John Smith', 50]
database = [edward, john]
print(database)

['Edward Gumby', 42]
[['Edward Gumby', 42], ['John Smith', 50]]

In [6]:
greeting = 'Hello'
print(greeting[0])
print(greeting[-1])

fourth = input('Year: ')[3]
print(fourth)

H
o
5

In [8]:
# Print out a date, given year, month, and day as numbers

months = [
    'January',
    'February',
    'March',
    'April',
    'May',
    'June',
    'July',
    'August',
    'September',
    'October',
    'November',
    'December'
]

# A list with one ending for each number from 1 to 31
endings = ['st', 'nd', 'rd'] + 17 * ['th'] \
        + ['st', 'nd', 'rd'] +  7 * ['th'] \
        + ['st']

year    = input('Year: ')
month   = input('Month  (1-12): ')
day     = input('Day (1-31): ')

month_number = int(month)
day_number = int(day)

# Remember to subtract 1 from month and day to get a correct index
month_name = months[month_number-1]
ordinal = day + endings[day_number-1]

print(month_name + ' ' + ordinal + ', ' + year)

January 17th, 2005

In [11]:
tag = '<a href="http://www.python.org">Python web site</a>'
print(tag[9:30])

http://www.python.org

In [12]:
# Split up a URL of the form http://www.something.com

url = input('Please enter the URL:')
domain = url[11:-4]

print("Domain name: " + domain)

Domain name: python

In [22]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(numbers[0:10:2])
print(numbers[3:6:3])
print(numbers[::-1])

[1, 3, 5, 7, 9]
[4]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [25]:
print([1, 2, 3] + [4, 5, 6])
print('Hello, ' + 'world!')

print('python'*5)

[1, 2, 3, 4, 5, 6]
Hello, world!
pythonpythonpythonpythonpython

In [26]:
# Prints a sentence in a centered "box" of correct width

sentence = input("Sentence: ")

screen_width = 80
text_width   = len(sentence)
box_width    = text_width + 6
left_margin  = (screen_width - box_width) // 2

print()
print(' ' * left_margin + '+'   + '-' * (box_width-2)  +   '+')
print(' ' * left_margin + '|  ' + ' ' * text_width     + '  |')
print(' ' * left_margin + '|  ' +       sentence       + '  |')
print(' ' * left_margin + '|  ' + ' ' * text_width     + '  |')
print(' ' * left_margin + '+'   + '-' * (box_width-2)  +   '+')
print()

                         +----------------------------+
                         |                            |
                         |  He's a very naughty boy!  |
                         |                            |
                         +----------------------------+

In [28]:
permissions = 'rw'
print('w' in permissions)
print('x' in permissions)

True
False

In [32]:
# Check a user name and PIN code

database = [
    ['albert',  '1234'],
    ['dilbert', '4242'],
    ['smith',   '7524'],
    ['jones',   '9843']
]

username = input('User name: ')
pin = input('PIN code: ')

if [username, pin] in database: 
    print('Access granted')

In [35]:
numbers = [100, 34, 678]
print(len(numbers))
print(max(numbers))
print(min(numbers))

3
678
34

In [38]:
print(list('Hello'))

silvio = ['S', 'i', 'l', 'v', 'i', 'o']
print(''.join(silvio))

['H', 'e', 'l', 'l', 'o']
Silvio

In [40]:
names = ['Alice', 'Beth', 'Cecil', 'Dee-Dee', 'Earl']
print(names)
del names[2]
print(names)

name = list('Perl')
name[2:] = list('ar')
print(name)

['Alice', 'Beth', 'Cecil', 'Dee-Dee', 'Earl']
['Alice', 'Beth', 'Dee-Dee', 'Earl']
['P', 'e', 'a', 'r']

In [43]:
lst = [1,2,3]
lst.append(4)
print(lst)
lst.clear()
print(lst)

a = [1,2,3]
b=a.copy()
b[1] = 4
print(a)
print(b)

[1, 2, 3, 4]
[]
[1, 2, 3]
[1, 4, 3]

In [ ]:
print(['to', 'be', 'or', 'not', 'to', 'be'].count('to'))

In [44]:
a = [1, 2, 3]
b = [4, 5, 6]
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6]

In [45]:
knights = ['We', 'are', 'the', 'knights', 'who', 'say', 'ni']
print(knights.index('who'))

4

In [46]:
x = [1, 2, 3]
print(x.pop())
print(x)

3
[1, 2]

In [48]:
x = ['to', 'be', 'or', 'not', 'to', 'be']
print(x)
x.remove('be')
print(x)

['to', 'be', 'or', 'not', 'to', 'be']
['to', 'or', 'not', 'to', 'be']

In [49]:
x = [1, 2, 3]
print(x)
x.reverse()
print(x)

[1, 2, 3]
[3, 2, 1]

In [51]:
x=[4,6,2,1,7,9]
x.sort()
print(x)

[1, 2, 4, 6, 7, 9]

In [53]:
x = ['aardvark', 'abalone', 'acme', 'add', 'aerate']
x.sort(key=len)
print(x)
x = [4, 6, 2, 1, 7, 9]
print(x)
x.sort(reverse=True)
print(x)

['add', 'acme', 'aerate', 'abalone', 'aardvark']
[4, 6, 2, 1, 7, 9]
[9, 7, 6, 4, 2, 1]

In [55]:
1,2,3

(1, 2, 3)

In [61]:
print((1,2,3))
print(())
print((42,))
print(3*(40+2,))

(1, 2, 3)
()
(42,)
(42, 42, 42)

In [65]:
print(tuple([1,2,3]))
print(tuple('abc'))

(1, 2, 3)
('a', 'b', 'c')